/* ===== ENTRADA SUAVE PREMIUM ===== */
@media screen {

  .reveal {
    opacity: 0;
    transform: translateY(16px);
    animation: reveal 0.6s ease-out forwards;
  }

  @keyframes reveal {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

}

.reveal.d1 { animation-delay: .1s; }
.reveal.d2 { animation-delay: .2s; }
.reveal.d3 { animation-delay: .3s; }
.reveal.d4 { animation-delay: .4s; }
.reveal.d5 { animation-delay: .5s; }
.reveal.d6 { animation-delay: .5s; }
.reveal.d7 { animation-delay: .5s; }
.reveal.d8 { animation-delay: .5s; }
.reveal.d9 { animation-delay: .5s; }
.reveal.d10 { animation-delay: .5s; }
.reveal.d11 { animation-delay: .5s; }
