.header {
    position: relative;
    color: #fff;

    background:
        radial-gradient(circle at top left,
            rgba(255, 255, 255, .12),
            transparent 40%),
        linear-gradient(135deg,
            #702a01 0%,
            /* rojo terciopelo */
            #124b38 35%,
            /* verde pino */
            #5f0722 100%
            /* vino profundo */
        );
}

.header::after {
    content: "";
    display: block;
    height: 2px;
    margin-top: 20px;
    background:
        linear-gradient(90deg,
            transparent,
            rgba(255, 215, 160, .9),
            transparent);
}

.header .name {
    text-shadow:
        0 2px 6px rgba(0, 0, 0, .35);
}

.header .role {
    opacity: .9;
}